body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #ffffff;
    height: 100 
}

.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
=======
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #505562;
    color: #fff;
  }
  .container {
    width: 500px;
    margin: 20px auto;
    user-select: none;
    overflow-x: hidden;
    position: relative;
  }
  .header {
    background-color: #2d2d37;
    text-align: center;
    padding: 1.75rem;
  }
  .header h1 {
    font-size: 2.25rem;
  }
  .date {
    background-color: #222;
    text-align: right;
    font-size: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 0;
  }
  .flag {
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    vertical-align: top;
  }
