@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #505562;
    color: #fff;
  }
  .container {
    width: 500px;
    margin: 20px auto;
    user-select: none;
    overflow-x: hidden;
    position: relative;
  }
  .header {
    color: rgba(48, 42, 42, 0.548);
    background-color: #2d2d37;
    text-align: center;
    padding: 1.75rem;
  }
  .header h1 {
    font-size: 2.25rem;
  }
  .date {
    color: rgb(78, 97, 97)!important;
    font-size: 20px;
    background-color: #222;
    text-align: right;
    font-size: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 0;
  }
  .flag {
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    vertical-align: top;
  }
 
  .myTable td {
    width: 5px;
  }

  .nav_c {
    background-color: rgb(78, 97, 97)!important;
  }

  .nav_c a {
    padding: 20px!important;
  }

  .h {
    font-size: 25px;
  }

  .cur_s {
    list-style-type: none;
  }

